<Jumbo>
    <h2>About Blockchain Arts</h2>
    <p>
        Founded in 2022, Blockchain Art provides services to explore, buy, and sell luxury digital NFT arts.
        We welcome creators to sell their digital arts and allow our customers to buy their finest works.
    </p>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>