<Jumbo>
    <h2>Contact Us</h2>
    <p>
        We are an open platform for wide communities to embrace win-win relationships. 
        Our users can explore, buy, and sell the digital artworks.
        Our partners can access our API to query our collections on their platforms. 
        Come and join us. 
    </p>
    <address>
        Blockchain Arts<br>
        <a href="tel:1.800.500.1234">+1 (800) 700-1010</a><br>
        <a href="mailto:partner@blockchainarts.com">partner@blockchainarts.com</a>
    </address>
    <LinkTo @route="about" class="button">About</LinkTo>
</Jumbo>